{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="mt-5">
    {% csrf_token %}
    {{ form }}
    <button class="btn btn-primary mt-3" id="find_pw">확인</button>
    <img src="{% static 'img/cube.gif' %}" alt="" class="mt-3 not-visible" width="50px" id="cube">
  </div>
  <div style="text-align: center; margin-top: 10px; margin-bottom: -10px;">
    <div id="loading"></div>
  </div>

  <div id="result_pw"></div>
  <script type="text/javascript">
    $(document).ready(function () {
      $('#find_pw').click(function () {
        $('#cube').removeClass('not-visible')
        $('#find_pw').addClass('not-visible')
        $('#loading').replaceWith('<div id="loading_end" class="loading"></div>')
        var email = $('#id_email').val()

        $.ajax({
          type: 'POST',
          url: '/accounts/find_password/',
          dataType: 'json',
          data:{
            'email': email,
            'csrfmiddlewaretoken': '{{csrf_token}}',
          },
          success: function (response) {
            $('#loading_end').remove()
            $('#find_pw').remove()
            $('#cube').remove()
            alert('회원님의 이메일로 인증코드를 발송했습니다.')
            $('#result_pw').replaceWith(
                '<hr><div class="row justify-content-md-center"><form class="form-inline" style="margin-bottom:-15px; margin-top:-10px;"><div class="md-form md-outline"><label for="input_auth_num">인증번호 입력</label><input type="text" id="input_auth_num" class="form-control mx-sm-2" autofocus/></div></form>'+
                '<button type="submit" name="auth_confirm" id="id_auth_confirm" class="btn btn-red mt-3" style="opacity: 90%; height:30%; margin-top:10px; font-size: 12px;"><i class="fas fa-check"></i>&nbsp;&nbsp;인증확인</button></div><hr>'
            )

            var user = response.result

            $(document).ready(function () {
              $('#id_auth_confirm').click(function () {
                var input_auth_num = $('#input_auth_num').val()

                $.ajax({
                  type: 'POST',
                  url: '/accounts/pw/auth/',
                  dataType: 'json',
                  data: {
                    'user_id': user,
                    'input_auth_num': input_auth_num,
                    'csrfmiddlewaretoken': '{{csrf_token}}',
                  },
                  success: function (response) {
                    location.href = "{% url 'accounts:resetpw' %}"
                  },
                  error: function () {
                    if ($('#input_auth_num').val() == ""){
                      alert('회원님의 이메일로 전송된 인증번호를 입력해주세요.')
                    } else {
                      alert('인증번호가 일치하지 않습니다.')
                    }
                  },
                })
              })
            })
          },
          error: function () {
            $('#find_pw').removeClass('not-visible')
            $('#cube').addClass('not-visible')
            $('#loading_end').remove()
            if (email == "") {
              alert('이메일을 입력해주세요.')
            } else {
              alert('입력하신 정보가 일치하지 않거나 존재하지 않습니다.')
            }
          }
        })
      })
    })
  </script>
{% endblock content %}