{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="d-flex justify-content-center">
    <img src="{% static 'img/esc.png' %}" alt="">
  </div>
  <form action="" method="POST">
    {% csrf_token %}
      {% for field in form %}
        <div class="mt-1">
          {{ field.label }}
          {{ field }}
        </div>
        {% if field.errors %}
          {% for error in field.errors %}
            <div class="alert alert-warning" role="alert"><strong>{{ error }}</strong></div>
          {% endfor %}
        {% endif %}
      {% endfor %}
    <button class="btn btn-primary mt-3">확인</button>
  </form>
{% endblock content %}