{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="d-flex justify-content-evenly mt-5">
    <div class="border rounded-circle">
      {% if person.image %}
        <img src="{{ person.image.url }}" alt="" class="bg-white rounded-circle" width="300px" height="300px">
      {% else %}
        <img src="{% static 'img/cat.png' %}" alt="" class="bg-white rounded-circle" width="300px" height="300px">
      {% endif %}
    </div>
    <div class="">
      <div class="mt-5">
        <div class="d-flex justify-content-between align-items-center">
          <h2 class="text-center">{{ person.nickname }} 님 </h2>
          {% if request.user.pk == person.pk %}
            <div class="dropdown">
              <button class="btn btn-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <form action="{% url 'accounts:delete' %}" method="POST">
                    {% csrf_token %}
                    <button class="dropdown-item text-danger" href="{% url 'accounts:delete' %}">회원탈퇴</button>
                  </form>
                    <a class="dropdown-item" href="{% url 'accounts:changepw' %}">비밀번호 변경</a>
                </li>
              </ul>
            </div>
          {% endif %}
        </div>
        <p class="mt-3">{{ person.introduction }}</p>
        {% if request.user.pk == person.pk %}
          <div class="mt-5">
            <button class="btn btn-success" id="chg-profile">사진변경</button>
            <a class="btn btn-warning" href="{% url 'accounts:update' %}">정보수정</a>
            <button class="btn btn-secondary">스크랩</button>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <form method="" action="" class="mt-3 not-visible" id="chg-form">
    {% csrf_token %}
    <input type="file" name="profile" class="form-control" accept="image/*" id="id_profile">
    <input type="hidden" name="hidden-profile" id="hidden-profile">
    <div class="d-flex justify-content-end">
      <button class="btn btn-primary mt-3 not-visible" id="confirm-btn">확인</button>
    </div>
  </form>
  <div class="mt-3" id="profile-box"></div>
  <div class="mt-5">
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs d-flex justify-content-evenly">
          <li class="nav-item">
            <a class="nav-link active" aria-current="" href="#">작성한 게시물</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">좋아한 게시물</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">댓글단 게시물</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="card">
          {% for article in articles %}
            <div class="card-body d-flex justify-content-between px-5">
              <div><a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a></div>
              <div>❤{{ article.like_users.count }} 🔎101 📃{{ article.comment_set.count }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% comment %} <div class="d-flex justify-content-evenly">
      <div>작성한 게시물</div>
      <div>좋아한 게시물</div>
      <div>댓글단 게시물</div>
    </div> {% endcomment %}
  </div>
  <script src="{% static 'js/profile.js' %}"></script>
{% endblock content %}