.not-visible {
  display: none;
}

.a-none {
  text-decoration: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

h6 {
  margin: 0;
}

.custom-margin {
  left: auto !important;
  right: 0 !important;
}