.not-visible {
  display: none;
}

.a-none {
  text-decoration: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

h6 {
  margin: 0;
}

.custom-margin {
  left: auto !important;
  right: 0 !important;
}

.profile-info {
  background-color: white;
}

.profile-info:hover{
  box-shadow: 0px 0px 20px grey;
}