{% extends 'base.html' %}

{% block content %}
  {% comment %} 인기글 {% endcomment %}   
  <div>
    <h3 class="text-center fw-bold">🔥 HOT 게시글 🔥</h3>
    <hr>
    {% for like in likes %}
      <div class="card mb-3">
        <a href="{% url "articles:detail" like.pk %}" style="text-decoration: none; color: black;">
          <div class="card-body d-flex justify-content-between">
            <div>
              <h5 class="card-title fw-bold">
                {% if like.category == 1 %}
                  [자유게시판]
                {% elif like.category == 2 %}
                  [질문게시판]
                {% elif like.category == 3 %}
                  [중고거래]
                {% endif %}
                {{ like.title }}
              </h5>
              <p class="my-0">{{ like.user }} ✍</p>
            </div>
            <div class="d-flex align-items-center">
              <p class="my-0">
                💬 {{ like.comment_set.all|length }}&nbsp
                ❤ {{ like.like_users.all|length }}&nbsp
                🕔 {{ like.updated_at|date:"Y.m.d" }}
              </p>
          </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  <br><br>

  {% comment %} 게시글 {% endcomment %}
  <h3 class="text-center fw-bold">
    {% if category == 1 %}
      자유게시판
    {% elif category == 2 %}
      질문게시판
    {% elif  category == 3 %}
      중고거래
    {% endif %}
  </h3>
  <hr>
  {% for article in posts %}
    <div class="card mb-3">
      <a href="{% url "articles:detail" article.pk %}" style="text-decoration: none; color: black;">
        <div class="card-body d-flex justify-content-between">
          <div>
            <h5 class="card-title fw-bold">{{ article.title }}</h5>
            <p class="my-0">{{ article.user }}</p>
          </div>
          <div class="d-flex align-items-center">
            <p class="my-0">
              💬 {{ article.comment_set.all|length }}&nbsp
              ❤ {{ article.like_users.all|length }}&nbsp
              🕔 {{ article.updated_at|date:"Y.m.d" }}
            </p>
        </div>
        </div>
      </a>
    </div>
  {% endfor %}
  <br>

  {% comment %} 페이지네이션 {% endcomment %}
  <div class="d-flex justify-content-center">
    {% if articles.count > 5 %}
      <nav aria-label="Page navigation example">
        <ul class="pagination">        
          {% if posts.has_previous %}
            <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
            <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a></li>
          {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="?page=1" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
            <li class="page-item disabled"><a class="page-link">Previous</a></li>
          {% endif %}
          {% if posts.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
            <li class="page-item">
            <a class="page-link" href="?page={{ posts.paginator.num_pages }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
          {% else %}
            <li class="page-item disabled"><a class="page-link">Next</a></li>
            <li class="page-item disabled">
            <a class="page-link" href="?page={{ posts.paginator.num_pages }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
          {% endif %}      
        </ul>
      </nav>
    </div>
    {% endif %}     
  </div>

{% endblock %}