{% extends 'base.html' %}

{% block content %}
  {% load static %}
  <div class="pt-5">
    <p>
      {% if article.category == 1 %}
        자유게시판
      {% elif article.category == 2 %}
        질문게시판
      {% elif article.category == 3 %}
        중고거래
      {% endif %}
    </p>
  </div>
  <h3>{{ article.title }}</h3><br>
  {% comment %} 작성자, 작성시간 정보 {% endcomment %}
  <div class="d-flex align-items-center">
    <div class="flex-shrink-0">
      <a href="{% url 'accounts:profile' article.user.nickname %}">
        {% if article.user.image %}
          <img src="{{ article.user.image.url }}" alt="..." width="50px" class="rounded-circle">
        {% else %}
          <img src="{% static 'img/cat.png' %}" alt="..." width="50px" class="rounded-circle">
        {% endif %}
      </a>      
    </div>
    <div class="flex-grow-1 ms-3">
      <a href="{% url 'accounts:profile' article.user.nickname %}" style="text-decoration: none; color: black;">
        <p class="my-0">{{ article.user }}
      </a><br>
      작성일 : {{ article.created_at|date:"Y.m.d" }}</p>
      <input type="hidden" id="article" value="{{ article.pk }}"></input>
    </div>
  </div> 
  <hr>

  {% comment %} 이미지 {% endcomment %}
  {% for photo in photos %}
    <div class="d-flex justify-content-center">
      <img src="{{ photo.image.url }}" width="90%" alt="{{ photo.image }}">
    </div>    
    <br>
  {% endfor %}

  {% comment %} 내용 {% endcomment %}
  <div class="my-5 mx-3">
    <p style="font-size: 20px;">{{ article.content|linebreaksbr }}</p>
  </div>
  {% if request.user == article.user %}
    <hr>
    <div class="d-flex justify-content-end mx-4">
    <a class="btn btn-success mx-1" href="{% url 'articles:update' article.pk %}" role="button">수정</a>
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      삭제
    </button>

    {% comment %} 모달 {% endcomment %}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-center">
            <h5 class="fw-bold">정말 삭제하시겠습니까?</h5>
          </div>
          <div class="modal-footer">
            <form action="{% url 'articles:delete' article.pk %}" method="POST">
              {% csrf_token %}
              <button class="btn btn-primary">Yes</button>
            </form>            
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% comment %} 좋아요 {% endcomment %}
  <div class="d-flex align-items-center">
    <div>
      {% if request.user not in article.like_users.all %}
        <button class="btn btn-white" id="like"><i class="far fa-heart" id="heart"></i></button>
      {% else %}
        <button class="btn btn-white" id="like"><i class="fas fa-heart" style="color: tomato;" id="heart"></i></button>
      {% endif %}
    </div>
    <div>
      <p class="fw-bold" id="like-number">{{ article.like_users.all|length }}명이 이 게시물을 좋아합니다.</p>
    </div>
  </div>
  <br><br>

  {% comment %} 댓글 작성 {% endcomment %}
  <h5 class="fw-bold"><i class="far fa-comment-dots"></i> 댓글 {{ comments|length }}개</h5>
  <hr>
  <form action="{% url 'articles:comment_create' article.pk %}" method="POST">
    {% csrf_token %}
    <div class="d-flex justify-content-center">
      {{ comment_form.content }}
    </div>
    <br>
    <div class="d-flex justify-content-end mx-4">
      <button type="submit" class="btn btn-primary">작성 완료</button>
    </div>
  </form>
  <br>

  {% comment %} 댓글 표시 {% endcomment %}
  {% for comment in comments %}
    <div class="position-relative mb-3">
      {% comment %} 댓글 글쓴이 정보 {% endcomment %}
      <div class="d-flex align-items-center">
        <div class="flex-shrink-0">
          <a href="{% url "accounts:profile" comment.user.nickname %}">
            {% if comment.user.image %}
              <img src="{{ comment.user.image.url }}" alt="..." width="30px" class="rounded-circle">
            {% else %}
              <img src="{% static 'img/cat.png' %}" alt="..." width="30px" class="rounded-circle">
            {% endif %}            
          </a>
        </div>
        <div class="flex-grow-1 ms-3">
          <a href="{% url 'accounts:profile' comment.user.nickname %}" style="text-decoration: none; color: black;">
            <p class="my-0">{{ comment.user }}
          </a><br>
          작성일 : {{ comment.created_at|date:"Y.m.d" }}</p>
        </div>
      </div>
      {% comment %} 삭제 / 수정 버튼 {% endcomment %}
      {% if comment.user == request.user %}
        <div class="d-flex align-items-center position-absolute top-50 end-0 translate-middle-y">
          <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-link" style="text-decoration: none; color: black;">삭제</button>
          </form>
          <button class="btn btn-white mx-1 commentUpdateBtn" id="commentUpdate{{ comment.id }}" data-id={{ comment.id }}>수정</button>
          <button class="btn btn-white mx-1 commentUpdateCancelBtn" id="commentUpdateCancel{{ comment.id }}" data-id={{ comment.id }} style="display: none;">수정</button>
        </div>
      {% endif %} 
    </div>
    {% comment %} 댓글 내용 {% endcomment %}
    <div id="commentContent{{ comment.id }}">
      {{ comment.content|linebreaksbr }}
    </div>
    {% comment %} 댓글 수정 폼 {% endcomment %}
    <div id="commentUpdateForm{{ comment.id }}" style="display: none;">
      <form action="{% url 'articles:comment_update' article.pk comment.pk %}" method="POST">
        {% csrf_token %}
        <div class="d-flex justify-content-center">
          {% for comment_update_form in comment_update_forms %}
            {% if comment.id == comment_update_form.instance.id %}
              {{ comment_update_form.content }}
            {% endif %}
          {% endfor %}                  
        </div>
        <br>
        <div class="d-flex justify-content-end mx-4">
          <button type="submit" class="btn btn-warning btn-sm mx-1">수정 완료</button>
          <button type="button" class="btn btn-secondary btn-sm mx-1 commentUpdateCancelBtn" id="commentUpdateCancel{{ comment.id }}" data-id={{ comment.id }}>수정 취소</button>
        </div>
      </form>
    </div>  
    <hr>
    <br>
  {% endfor %}  
  <script src="{% static 'js/comment.js' %}"></script>
  <script src="{% static 'js/like.js' %}"></script>
{% endblock %}