{% extends 'base.html' %}

{% block content %}
  {% if search == '' or search == ' ' %}
    <div class="text-center my-5">
      <h3 style="display: inline;">'{{ search }}'에 대한 검색 결과가 존재하지 않습니다.</h3>
    </div>
  {% else %}    
    {% comment %} 검색 내용 게시글 {% endcomment %}
    {% if search_articles %}
      <div class="text-center my-5">
        <h3 class="fw-bold" style="display: inline; color: green;">"{{ search }}"</h3>
        <h3 style="display: inline;">에 대한 검색 결과입니다.</h3>
      </div>
      <hr>
      <div class="my-5" name="search_articles">
        {% for article in search_articles %}
          <div class="card mb-3">
            <a href="{% url "articles:detail" article.pk %}" style="text-decoration: none; color: black;">
              <div class="card-body d-flex justify-content-between">
                <div>
                  <h5 class="card-title fw-bold">{{ article.title }}</h5>
                  <p class="my-0">{{ article.user }}</p>
                </div>
                <div class="d-flex align-items-center">
                  <p class="my-0">
                    💬 {{ article.comment_set.all|length }}&nbsp
                    ❤ {{ article.like_users.all|length }}&nbsp
                    🕔 {{ article.updated_at|date:"Y.m.d" }}
                  </p>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="text-center my-5">
        <h3 class="fw-bold" style="display: inline; color: green;">'{{ search }}'</h3>
        <h3 style="display: inline;">에 대한 검색 결과가 존재하지 않습니다.</h3>
      </div>
    {% endif %}
  {% endif %}  
{% endblock %}