{% extends 'base.html' %}

{% block content %}
<div class="container" style="width: 50rem;">
  <h2 class="text-center">게시글 수정하기 ✒</h2>
  <hr>

  {% comment %} 폼 부분 {% endcomment %}
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in article_form %}
      <div>
          {{ field.label_tag }}
          {{ field }}              
      </div>    
      <br>
    {% endfor %}
    <!-- 폼셋에 들어있는 각 폼을 다루는 경우, {{ photo_formset.management_form }} 반드시 추가!! -->
    {{ photo_form.management_form }}
    {% for form in photo_form %}
      {% for photo in photos %}
        {% if photo.id == form.instance.id %}
          <div class="mb-2">
            <p>현재 이미지:</p>
            <div class="d-flex align-items-end">
              <img src="{{ photo.image.url }}" alt="" width="100px;">
              <input class="form-control" style="height: 38px;" type="text" placeholder="{{ photo.image }}" aria-label="Disabled input example" disabled>
            </div>              
          </div>
          <fieldset class="aligned">
            <div class="form-row">
              {% comment %} <p>변경:</p> {% endcomment %}
              {{ form.image }}
            </div>
          </fieldset>
          <br>
        {% endif %}
      {% endfor %}      
    {% endfor %}    
    <br>

    {% comment %} 버튼 부분 {% endcomment %}
    <div class="d-flex justify-content-center">
      <button class="btn btn-primary mx-3" type="submit" >수정 완료</button>
      <a class="btn btn-danger mx-3" href="{% url 'articles:detail' article.pk %}" role="button">수정 취소</a>
    </div>
  </form>
    <br><br><br>
</div>
  
{% endblock %}