{% load static %}
<div class="sticky-top">
  <a href="{% url "articles:index" %}">
    <img src="{% static 'img/로고.png' %}" alt="" width=80px>
  </a>
  {% if not request.user.is_authenticated %}
    <a href="{% url 'accounts:signup' %}">회원가입</a>
    <a href="{% url 'accounts:login' %}">로그인</a>
  {% else %}
    <form action="{% url 'accounts:logout' %}" method="POST">
      {% csrf_token %}
      <button>로그아웃</button>
    </form>
    <form action="{% url 'accounts:delete' %}" method="POST">
      {% csrf_token %}
      <button>회원탈퇴</button>
    </form>
    <a href="{% url 'accounts:update' %}">정보수정</a>
  {% endif %}
</div>